/* responsive */

@media (max-width: 600px) {
	th:nth-child(n+5):not(.editPart),
	td:nth-child(n+5):not(.movePart) {
		display: none;
	}
}

@media (max-width: 480px) {
	th:nth-child(n+4):not(.editPart),
	td:nth-child(n+4):not(.movePart) {
		display: none;
	}
}

@media (max-width: 360px) {
	th:nth-child(n+3):not(.editPart),
	td:nth-child(n+3):not(.movePart) {
		display: none;
	}
}

/* uniform size of rows and buttons */

a.button {
	width: 36px;
	line-height: 36px;
	min-height: 36px;
}

td, th {
	vertical-align: middle;
	height: 36px;
	border-bottom: solid 4px white;
}

.movePart {
	width: 120px;
}

#menu a {
	height: 80px;
	line-height: 80px;
}

/* relative paddings and margins */

body {
	margin: 0px;
}

td div, th div {
	padding-left: 5px;
}

a.left {
	float: left;
	margin-left: -5px;
	margin-right: 5px;
}

/* menu */

html, body {
	height: 100%;
}

#menu, #menu a, table {
	width: 100%;
}

#menu {
	position: absolute;
	height: 100%;
	background-color: black;
}

#menu a {
	display: block;
	background-color: black;
	color: white;
	font-size: x-large;
	text-align: center;
	font-weight: bold;
}

/* other */

a {
	text-decoration: none;
	color: black;
}

a.button {
	float: right;
	text-align: center;
	vertical-align: middle;
	background: black;
	color: white;
	font-weight: bold;
}

a.left {
	float: left;
}

button {
	float: right;
	margin: 5px;
}


table {
	background: white;
	border-collapse: collapse;
}

th {
	background-color: #DDD;
	color: black;
	padding: 0px;
	text-align: left;
}

th.header {
	background-color: black;
	color: white;
	line-height: 36px;
}

th.sub {
	background-color: white;
}

td {
	background-color: #F7F7F7;
	padding: 0px;
}

input {
	width: 100%;
}

input[type=date] {
	width: 120px;
}

body {
	font-family: "Arial";
}
