/* limit size to likely mobile phone resolution */

#menu, table {
	width: 100%;
	max-width: 480px;
}

/* uniform size of rows and buttons */

a.button {
	width: 36px;
}

a.button, td div, th div {
	line-height: 36px;
	min-height: 36px;
}

.movePart {
	width: 120px;
}

#menu a {
	height: 40px;
	line-height: 40px;
}

input, select {
	margin-top: 6px;
}

td div, th div {
	border-top: solid 2px white;
	border-bottom: solid 2px white;
}

/* relative paddings and margins */

td div, th div {
	padding-left: 5px;
}

a.left {
	float: left;
	margin-left: -5px;
	margin-right: 5px;
}

/* menu */

#menu {
	position: absolute;
}

#menu a {
	display: block;
	background-color: black;
	color: white;
	text-align: center;
	font-weight: bold;
}

/* other */

a {
	text-decoration: none;
	color: black;
}

a.button {
	float: right;
	text-align: center;
	vertical-align: middle;
	background: black;
	color: white;
	font-weight: bold;
}

a.left {
	float: left;
}

button {
	float: right;
	margin: 5px;
}


table {
	background: white;
	border-collapse: collapse;
}

th {
	background-color: #DDD;
	color: black;
	padding: 0px;
	text-align: left;
}

th.header {
	background-color: black;
	color: white;
}

th.sub {
	background-color: white;
}

td {
	background-color: #F7F7F7;
	padding: 0px;
}

input {
	width: 100%;
}

body {
	font-family: "Arial";
}
