a {
	text-decoration: none;
	color: black;
}

a.button {
	float: right;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	vertical-align: middle;
	background: black;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

a.left {
	float: left;
	margin-right: 5px;
	margin-left: -4;
}

button {
	float: right;
}

table {
	background: white;
	border-collapse: collapse;
}

th {
	background-color: #DDD;
	color: black;
	padding: 0px;
	text-align: left;
	line-height: 30px;
}

th.header {
	background-color: black;
	color: white;
}

th.sub {
	background-color: white;
	color: black;
}

td {
	background-color: #F7F7F7;
	padding: 0px;
	line-height: 30px;
}

td div, th div {
	border-top: solid 2px white;
	border-bottom: solid 2px white;
	padding-left: 2px;
	line-height: 26px;
	min-height: 26px;
}

table table {
	width: 100%;
}

input {
	width: 100%;
}

body {
	font-family: "Arial";
}
